body 
{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
}

.container
{
   width:100%;
   margin:auto;
   overflow:hidden;
   
}

.high .container > h1
{
   padding: 20px 20px 20px 20px;
   opacity: 0.8;
   background-color: #e8491d;
   border-bottom: #35424a;
   text-align: center;
}

.toggle_menu
{
  position:fixed;
  padding:20px 20px 20px 20px;
  margin-top:260px;
  color:white;
  cursor:pointer;
  background-color: black;
  z-index:100000;
  font-size: 2em;
  opacity:0;
  
}

.go_back
{
  position:fixed;
  padding:10px 10px 10px 10px;
  background-color:#e8491d;
  z-index:1000000;
  opacity:0.8;
  cursor:pointer;
}

.go_back:hover
{
  background-color:white;
  opacity:1;
  transition: all 0.3s ease-in-out;
}

.toggle_menu div
{
  width: 60px;
  height: 8px;
  background: #e8491d;
  margin:7px 0px;
}

.toggle_menu div:hover
{
  background-color:white;
  opacity:1;
  transition: all 0.3s ease-in-out;
}

.sidebar
{
  position:fixed;
  width:250px;  
  margin-left:0px;
  overflow:hidden;
  height:100vh;
  max-height: 100vh;
  background-color: rgba(17, 17, 17, 0.9);
  opacity:0.9;
  transition: all 0.3s ease-in-out;
  z-index: 10000;
}

.green
{
  text-align: center;
  color: #009975;
  font-size: 25px;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'helvetica';
  font-weight:200;
   border-bottom: 1px #009975 solid; 
}

 .blue
{
  text-align: center;
  color: #0375b4;
  font-size: 25px;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'helvetica';
  font-weight:200;
  border-bottom: 1px #0375b4 solid; 
}

.orange
{
  text-align: center;
  color: #e8491d;
  font-size: 25px;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'helvetica';
  font-weight:200;
  border-bottom: 1px #e8491d solid; 
  box-sizing: border-box;
}

.orange_borderbottom
{
  border-bottom: #e8491d 3px solid;
}

.orange_back
{
  background:#e8491d;   
}

.orange_backcol
{
  background-color: #e8491d; 
}

.blue_borderbottom
{
  border-bottom: #0375b4 3px solid;
}

.blue_back
{
  background:#0375b4;   
}

.blue_backcol
{
  background-color: #0375b4; 
}

.green_borderbottom
{
  border-bottom: #009975 3px solid;
}

.green_back
{
  background:#009975;   
}

.green_backcol
{
  background-color: #009975; 
}

.go_back
{
  right:10px;
  top:10px;
  opacity:0.7;
  cursor:pointer;
  position:absolute;
  color:white;
  transition: all 0.3s ease-in-out;
  z-index: 10000200;
}

.go_back:hover;
{
  opacity:1;
}

.boxed_item
{
  font-family: 'Helvetica';
  font-weight:200;
  padding: 10px 20px;
  display: inline-block;
  border:solid 3px white;
  box-sizing: border-box;
  font-size:22px;
  color: white;
  text-align: center;
  margin-top:70px;
}

.logo_bold
{
  font-weight:800;
}

.logo_title
{
  color:white;
  font-family: 'helvetica';
  font-weight: 200;
  font-size:20px;
  text-align: center;
  padding: 0px 0;
  
}

.hide_menu
{
  margin-left: -250px;
}

.opacity
{
  opacity:0.7; 
  transition: all 0.5s ease-in-out;
}

header 
{
  background: #35424a;
  width:100%;
  color:#ffffff;
  padding-top:50px;
  padding bottom:60px;
  transition: height 0.3s linear 0s, padding 0.3s linear 0s;
  overflow:hidden;
  border-bottom: #e8491d 3px solid;
  position: fixed;
  z-index: 60;
}



.container a
{
  color:#ffffff;
  text-decoration: none;
  text-transform: uppercase; 
  font-size: 16px;
}

.container ul
{
  margin:0;
  padding:0
}

.container li
{
  float:left;
  display:inline;
  padding: 20px 30px 20px 20px;
  font-family: helvetica;
}
 
.container div nav ul #current div a:hover
{
   background:black;
    transition: all 0.25s;
    padding:20px 30px 50px 30px; 
}

.container ul li;
{
  list-style: none;
  display:inline;
  font-weight: bold;
  
}

header #highlight, header #current a
{
    color:#e8491d;
    font-weight:bold;
}

.container ul li div a:hover
{
    background:#e8491d;
    transition: all 0.25s ease-in-out;
    padding:20px 30px 100px 30px;
}

.current a:hover
{
    background:#e8491d;
    transition: all 0.25s ease-in-out;
    padding:20px 30px 100px 30px;
}


.showcase
{
    min-height:650px;
    background:url(free_high_resolution_images_for_download-1.jpg) no-repeat 0 -400px ;
    text-align: center;
    color:#ffffff;
    border-bottom: #35424a 100px solid;
}

.high
{
    min-height:650px;
    background:url(636163421948082537-1181026651_hs.jpg) no-repeat 0 -200px ;
    text-align: center;
    color:#ffffff;
    border-bottom: #35424a 100px solid;
}

.showcase h1
{
       margin-left: auto;
       margin-right: auto;
       font-size: 55px;
       margin-top: 200px;
       background-color: #35424a; 
       width:60%;
       opacity:0.6;
       border-bottom: #e8491d 3px solid;
}

.showcase p
{
      width:55%;
      margin-left: auto;
      margin-right: auto;
      font-size: 20px;
      background-color: #35424a; 
      height:150px;
      opacity:0.6;
      padding:35px
}

.boxes
{
   margin-top: 20px; 
   background-color:#35424a;
   margin-right: auto; 
   margin-left: auto; 
   width:80%
}

.boxes .box
{
   margin-left: auto;
   margin-right: auto; 
   float:left;
   width:30%;
   padding:10px;
   border-bottom: 3px #e8491d solid;
}

.boxes
{
    background-color:#ffffff
}
.boxes .box .img
{
   margin-left: auto;
   margin-right: auto; 
   width:90px;
   padding: 0, 50px, 0, 50px; 
   
}

.boxes h3
{
   padding-left: 80px
}

 footer
{
   margin-top:0px; 
   color:#ffffff;
   background-color:#e8491d;
   text-align: center; 
   height:75px;
   border-top:100px #35424a solid;
}

.coding div
{
   min-height: 400px;
   background: url(code-wallpaper-18.png) -600px 1000px;
   border-bottom: #e8491d 8px solid;
}

.coding div a 
{
   text-decoration: none;
   color: white;
   background: #35424a;
}

.coding div a h1
{
   margin-left: auto;
   margin-right: auto;
   font-size: 55px;
   margin-top: 0px;
   background-color: #35424a; 
   width:60%;
   opacity:0.6;
   border-bottom: #e8491d 3px solid;
   text-align: center;
}

.games div
{
   min-height: 400px;
   background: url(video_games_background_020.jpg) 0 -500px;
   border-bottom: #e8491d 8px solid;
}

.games div a 
{
   text-decoration: none;
   color: white;
   background: #35424a;
}

.games div a h1
{
   margin-left: auto;
   margin-right: auto;
   font-size: 55px;
   margin-top: 0px;
   background-color: #35424a; 
   width:60%;
   opacity:0.6;
   border-bottom: #e8491d 3px solid;
   text-align: center;
}

.drawing div
{
   min-height: 400px;
   background: url(hand_drawing-wallpaper-2560x1440.jpg) no-repeat -510px -400px;
   border-bottom: #e8491d 8px solid;
}

.drawing div a 
{
   text-decoration: none;
   color: white;
   background: #35424a;
}

.drawing div a h1
{
   margin-left: auto;
   margin-right: auto;
   font-size: 55px;
   margin-top: 0px;
   background-color: #35424a; 
   width:60%;
   opacity:0.6;
   border-bottom: #e8491d 3px solid;
   text-align: center;
}

.Music div
{
   min-height: 400px;
   background: url(vvvv.jpg) no-repeat 0px -200px;
   border-bottom: #e8491d 8px solid;
}

.Music div a 
{
   text-decoration: none;
   color: white;
   background: #35424a;
}

.Music div a h1
{
   margin-left: auto;
   margin-right: auto;
   font-size: 55px;
   margin-top: 0px;
   background-color: #35424a; 
   width:60%;
   opacity:0.6;
   border-bottom: #e8491d 3px solid;
   text-align: center;
}

.tynker div
{
   padding-top: 100px;
   min-height: 400px;
   background: url(Tynker-iPad-App-Lost-in-Space.png) no-repeat 0px -700px;
   border-bottom: #e8491d 8px solid;
}

.tynker div a 
{
   text-decoration: none;
   color: white;
   background: #35424a;
}

.tynker div h1
{
   margin-left: auto;
   margin-right: auto;
   font-size: 55px;
   margin-top: 163px;
   background-color: #35424a; 
   width:60%;
   opacity:0.8;
   border-bottom: #e8491d 3px solid;
   text-align: center;
   color:white;
}

.Hopscotch div
{
   padding-top: 100px;
   min-height: 400px;
   background: url(hopscotch.png) no-repeat -100px -0px;
   border-bottom: #e8491d 8px solid;
   border-top: #e8491d 8px solid; 
}

.Hopscotch div a 
{
   text-decoration: none;
   color: white;
   background: #35424a;
}

.Hopscotch div h1
{
   margin-left: auto;
   margin-right: auto;
   font-size: 55px;
   margin-top: 103px;
   background-color: #35424a; 
   width:60%;
   opacity:0.8;
   border-bottom: #e8491d 3px solid;
   text-align: center;
   color:white;
}

.arduino div
{
   padding-top: 100px;
   min-height: 400px;
   background: url(arduino_logo-wallpaper-1680x1050.jpg) no-repeat -100px -250px;
   border-bottom: #e8491d 8px solid;
   border-top: #e8491d 8px solid; 
}

.arduino div a 
{
   text-decoration: none;
   color: white;
   background: #35424a;
}

.arduino div h1
{
   margin-left: auto;
   margin-right: auto;
   font-size: 55px;
   margin-top: 103px;
   background-color: #35424a; 
   width:60%;
   opacity:0.8;
   border-bottom: #e8491d 3px solid;
   text-align: center;
   color:white;
}

#mission-bit div
{
   padding-top: 100px;
   min-height: 400px;
   background: url(IMG_0046.jpg) no-repeat -100px -250px;
   border-bottom: #e8491d 8px solid;
   border-top: #e8491d 8px solid; 
}



#mission-bit div h1
{
   margin-left: auto;
   margin-right: auto;
   font-size: 55px;
   margin-top: 103px;
   background-color: #35424a; 
   width:60%;
   opacity:0.8;
   border-bottom: #e8491d 3px solid;
   text-align: center;
   color:white;
}

#unity div
{
   padding-top: 100px;
   min-height: 400px;
   background: url($Unity%20Wallpaper.jpg) no-repeat -100px -250px;
   border-bottom: #e8491d 8px solid;
   border-top: #e8491d 8px solid; 
}



#unity div h1
{
   margin-left: auto;
   margin-right: auto;
   font-size: 55px;
   margin-top: 103px;
   background-color: #35424a; 
   width:60%;
   opacity:0.8;
   border-bottom: #e8491d 3px solid;
   text-align: center;
   color:white;
}

.description 
{
   background-color: #35424a; 
   
}

.description div p 
{
   color:white;
   font-size: 20;
   margin-left: 50px;
   margin-right: 50px;
   margin-top: auto;
   margin-bottom: auto;
   padding-top: 50px;
   padding-bottom: 50px;
}

#evolve div
{
   padding-top: 100px;
   min-height: 400px;
   background: url() no-repeat -100px -250px;
   border-bottom: #e8491d 8px solid;
   border-top: #e8491d 8px solid; 
}

#evolve div a 
{
   text-decoration: none;
   color: white;
   background: #35424a;
}

#evolve div h1
{
   margin-left: auto;
   margin-right: auto;
   font-size: 55px;
   margin-top: 103px;
   background-color: #35424a; 
   width:60%;
   opacity:0.8;
   border-bottom: #e8491d 3px solid;
   text-align: center;
   color:white;
}

